1. Load the `iris.csv` data file in a DataFrame
2. Compute the mean sepal width per value of sepal length.

   Compute the number of different sepal width values per value of sepal length
3. Apply a centered rolling max function to the petal width, with a size 5 window


__Advanced__: 

1. transform the data to obtain a multi index of 2 dimensions with the first dimension being the 'species' column. 
2. access the petal length of all specimen 'setosa'

In [2]:
import pandas as pd

df = pd.read_csv('iris.csv')

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df.groupby('sepal_length')['sepal_width'].mean().head()

sepal_length
4.3    3.000000
4.4    3.033333
4.5    2.300000
4.6    3.325000
4.7    3.200000
Name: sepal_width, dtype: float64

In [5]:
df.groupby('sepal_length')['sepal_width'].count().head()

sepal_length
4.3    1
4.4    3
4.5    1
4.6    4
4.7    2
Name: sepal_width, dtype: int64

In [6]:
df.rolling(5, center=True)['petal_width'].max()

0      NaN
1      NaN
2      0.2
3      0.4
4      0.4
      ...
145    2.5
146    2.5
147    2.3
148    NaN
149    NaN
Name: petal_width, Length: 150, dtype: float64

__Advanced__

In [7]:
sr = df.set_index('species').stack()
sr.loc[('setosa', 'petal_length')]
sr

/tmp/ipykernel_32235/1208326460.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  sr.loc[('setosa', 'petal_length')]

species
setosa     sepal_length    5.1
           sepal_width     3.5
           petal_length    1.4
           petal_width     0.2
           sepal_length    4.9
                          ...
virginica  petal_width     2.3
           sepal_length    5.9
           sepal_width     3.0
           petal_length    5.1
           petal_width     1.8
Length: 600, dtype: float64